h2{
	text-align: center;
}

checkbox{
	width: 100px; height: 100px;
}
#header{
text-align: center;
}

#my{
	width: 50%;
	display: inline;
	margin-left: 20%;
}

button{
	margin-left: 10px;
}
.card{
	margin: auto;
	margin-top: 20px;
}
body{
background-color: #1c1f21;
}
